<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload SQL File</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-blue-gray {
            background-color: #6c757d; /* Bootstrap's secondary color */
            color: white; /* White text */
        }

        .btn-blue-gray:hover {
            background-color: #5a6268; /* Darker shade on hover */
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Upload SQL File</h1>
        <form method="POST" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-blue-gray btn-block">Upload</button> 
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a> 
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
